@font-face {
    font-family: norse;
    src: url(fonts/Norse-Bold.otf);
}

body {
    background-color: #0F0F0F;
    margin: 0 10%;
}

#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    min-width: 35%;
    background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    color: white;
}

#logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #00000077;
    margin-top: 35%;
    font-size: 100px;
    padding: 5% 0;
    font-family: norse, Georgia, 'Times New Roman', Times, serif;
}

#logo-footer {
    position: absolute;
    bottom: 10px;
}

#logo-footer a:visited, a:link {
    color: white;
}

#logo-container img {
    height: 120px;
}

#right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 60%;
    height: 100%;
    background-color: aliceblue;
}

#right-container > * {
    display: flex;
    padding: 0px 300px 0px 100px;
}

#hero {
    background-color: blue;
    flex-direction: column;
    /* padding: 0px 300px 0px 100px; */
    font-size: 1.5rem;
}

#form {
    background-color: yellow;
    flex-wrap: wrap;
    
}

#submit {
    background-color: red;
    flex-direction: column;
}